
 
  {% extends 'base_layout.html' %}
  {% load static %}
  
        
        
        {% block content %}

<section class="slider sliderv z-depth-3">
    <ul class="slides">
      <li>
        <img src="{% static 'img/ab.jpg' %}"> 
        <!--<div class="caption center-align">
          <h3>About </h3>
          <h5 class="light grey-text text-lighten-3"> Learn even more about Heart Disease Prediction System  <br> and how Heart Disease Prediction System helps you for FREE.
          </h5>
        </div> -->
      </li>
      
    </ul>
  </section>
  
  <br> <br>
  
  
  <!-- Who we are -->
  
  <section>
    <h2 class="center-align"> What is Heart Disease Prediction System?</h2> 
    </section>
    <br>
    <section >
      <div class="row">
        <div class="col s4 m4 l4 offset-s4 offset-l4 offset-m4"> <hr></div> <br> <br> <br>
      </div>
  
      <div class="row" style="width: 85%; margin: auto;">
        <div class="col s12 m6">
          <img src="{% static 'img/abt1.jpg' %}"  class="responsive-img">
  
        </div>
        <div class="col s12 m5 offset-m1">
          <p style="font-size:20px; text-align: justify;">
            Heart Disease Prediction System is a user-friendly web-based application 
            which predicts probability of heart disease.The data extracted from patient includes different parameters like blood age, sex, blood pressure, diabetes etc.
            The result is extracted by processing patient’s dataset and a data of patients to whom we need to predict the chance 
            of occurrence of a heart disease. 

          </p>
        </div>
      </div>
  
    </section>
  <br> <br> <br>
    <section>
      <h2 class="center-align"> How can you use Heart Disease Prediction System?</h2> 
      </section>
      <br>
      <section >
        <div class="row">
          <div class="col s4 m4 l4 offset-s4 offset-l4 offset-m4"> <hr></div> <br> <br> <br>
        </div>
        <div class="row" style="width: 85%; margin: auto;">
          
          <div class="col s12 m5 ">
            <p style="font-size:20px; text-align: justify;">
              Anyone with a device having browser and internet can easily use Heart Disease Prediction System. If you want to predict heart 
              disease, all you need is to enter accurate value of different attributes that system asks like age, sex, 
              blood pressure, diabetes, breathlessness and so on. our system will then return the chances of having heart disease in probability. 
              In addition to that, if you want to save data for future purpose and want guidance on what to do next, you can simply sign
               up to the system which provides all those features.   
            </p>
            </div>
            <div class="col s12 m6 offset-m1">
              <img src="{% static 'img/abt2.jpg' %}"  class="responsive-img">
        </div>
      </section> 

      <br> <br> <br> <br> 
        
  
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
              
            
    

       
              
        
    
          
          {% endblock %}