{% extends 'base_layout2.html' %}
{% block css %}
<style> 
    footer {
        padding-left: 295px;
    }
    .con{
        padding-left: 390px;
        width: 90%;
        flex: 1 0 auto;
    }
    @media only screen and (max-width : 992px) {
      .con, footer {
        padding-left: 0;
      }
    }

    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }


 </style>
{% endblock %}
{% block content %}



<div class="con">
  <h5 > Here is the record of your previous Prediction of Heart Disease.  </h5>

   
<br> <br> 


  <table class="striped">
   <thead>
     <tr>
         <th>S.No</th>
         <th>Age</th>
         <th>Gender</th>
         <th>Activity</th>
         <th>Rest</th>
         <th>Night</th>
         <th>Exercise</th>
         <th>Diabetes</th>
         <th>BP</th>
         <th>Cyanosis</th>
         <th>Clubbing</th>
         <th>Probabilty</th>
     </tr>
   </thead>

   <tbody>
     {% for data in record_data %}
     <tr>
       <td>{{ forloop.counter }}</td>
       <td>{{ data.age }}</td>
       <td>{{ data.get_gender_display }}</td>
       <td>{{ data.get_activity_display }}</td>
       <td>{{ data.get_rest_display }}</td>
       <td>{{ data.get_night_display }}</td>
       <td>{{ data.get_exercise_display }}</td>
       <td>{{ data.get_diabetes_display }}</td>
       <td>{{ data.get_bp_display }}</td>
       <td>{{ data.get_cyanosis_display }}</td>
       <td>{{ data.get_clubbing_display }}</td>
       <td>{{ data.get_probability_display }}</td>
       
     </tr>
     {% endfor %}
     
   </tbody>
 </table>
       


 
</div>




{% endblock %}